<%= js  :app %>
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization">
    </script>
    <style>
      html, body {
        height: 100%;
      }
      #map_canvas {
        height: 100%;
        width: 100%;
      }
    </style>
  </head>
  <body>
    <div id="map_canvas"></div>
    <script>
      /* Data points defined as a mixture of WeightedLocation and LatLng objects */
      var heatMapData = [
        {location: new google.maps.LatLng(46.802, -71.247), weight: 0.5},
        new google.maps.LatLng(46.802, -71.245),
        {location: new google.maps.LatLng(46.802, -71.243), weight: 2},
        {location: new google.maps.LatLng(46.802, -71.241), weight: 3},
        {location: new google.maps.LatLng(46.802, -71.239), weight: 2},
        new google.maps.LatLng(46.802, -71.237),
        {location: new google.maps.LatLng(46.802, -71.235), weight: 0.5},
        {location: new google.maps.LatLng(46.805, -71.247), weight: 3},
        {location: new google.maps.LatLng(46.805, -71.245), weight: 2},
        new google.maps.LatLng(46.805, -71.243),
        {location: new google.maps.LatLng(46.805, -71.241), weight: 0.5},
        new google.maps.LatLng(46.805, -71.239),
        {location: new google.maps.LatLng(46.805, -71.237), weight: 2},
        {location: new google.maps.LatLng(46.805, -71.235), weight: 3}
      ];

      var quebec = new google.maps.LatLng(46.803283,-71.242796);

      map = new google.maps.Map(document.getElementById('map_canvas'), {
        center: quebec,
        zoom: 14,
        mapTypeId: google.maps.MapTypeId.SATELLITE
      });

      var heatmap = new google.maps.visualization.HeatmapLayer({
        data: heatMapData
      });

      heatmap.setMap(map);
      </script>
  </body>
</html>
