<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Carte Chaude</title>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=visualization">
    </script>
    <%= js  :headjs %>
    <%= css  :application %>
  </head>
  <body>
    <header>
      <h1 class="logo">Chaude carte - visualisation urbaine</h1>
      <div class="control left">
        <img src="/images/logo-duproprio.png" width="120" class="logo-duproprio" alt="DuProprio">
        Prix de ventes de propriétés<br>
        <em class="small">données fournies par</em>
      </div>
      <div class="control right">
        <select name="" id="top_map_dataset_select">
          <option value="trees">Densité des arbres</option>
          <option value="restaurants">Densité des restaurants</option>
          <option value="bus_stops">Fréquence des passages d'autobus</option>
        </select>
      </div>
    </header>
    <div class="map-canvas" id="base_canvas"></div>
    <div class="map-wrap">
      <div class="map-canvas" id="top_canvas"></div>
    </div>
    <div id="dragger"></div>
    <ul id="authors">
      <li>Créé par:</li>
      <li>@evymorin</li>
      <li>@JimmyBourassa</li>
      <li>@renaudl</li>
      <li>@plehoux</li>
      <li>au #hackquebec 2012</li>
    </ul>
    <script>
    </script>
    <%= js  :bodyjs %>
  </body>
</html>
