@font-face {
  font-family: OpenSans;
  font-weight: normal;

  src: url('/fonts/OpenSans-Regular-webfont.eot');
  src: url('/fonts/OpenSans-Regular-webfont.eot?#iefix')          format('embedded-opentype'),
       url('/fonts/OpenSans-Regular-webfont.woff')                format('woff'),
       url('/fonts/OpenSans-Regular-webfont.ttf')                 format('truetype'),
       url('/fonts/OpenSans-Regular-webfont.svg##{$font-family}') format('svg');
}

html, body {
  height: 100%;
}

body {
  font-family: OpenSans, Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.2;
}

header {
  background: #f9f9f9; /* Old browsers */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  height: 80px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5000;
  opacity: 0.92;
}

.logo {
  background: url(/images/logo.png) 0 -64px no-repeat;
  height: 65px;
  margin-top: -32px;
  overflow: hidden;
  text-indent: -9999em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -24px;
  width: 45px;
}

.map-canvas,
#dragger,
#dragger:after,
header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-canvas {
  height: 100%;
  float: left;
  width: 100%;
}

#dragger {
  background: url(/images/dragger_pattern.png);
  border: 1px solid #383838;
  border-width: 0 1px;
  cursor: ew-resize;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  margin-left: -8px;
  opacity: 0.6;
  position: absolute;
  bottom: 0;
  top: 80px;
  left: 50%;
  width: 16px;
  z-index: 1000;
}
#dragger:hover {
  opacity: 0.7;
}
#dragger:after {
  background: url(/images/dragger.png) 0 0 no-repeat;
  content: "";
  height: 55px;
  margin: 27px 0 0 -3px;
  position: absolute;
  left: 50%;
  top: 40%;
  width: 6px;
}
.map-wrap {
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 50%;
}
.map-wrap .map-canvas {
  width: 200%;
  margin-left: -100%;
}

.control {
  position: absolute;
  left: 19%;
  bottom: 25px;
  margin-left: -150px;
  text-align: center;
  width: 300px;
}

.small {
  font-size: 12px;
}

.control.left {
  text-align: right;
}

.control.right {
  left: 75%;
}

.logo-duproprio {
  float: right;
  margin-left: 10px;
  margin-top: 3px;
}

#authors {
  position: fixed;
  right: 40px;
  bottom: 40px;
  background-color: rgba(255,255,255,0.8);
  padding: 20px;
}

#authors:hover {
  background-color: rgba(255,255,255,0.95);
}

#authors li {
  list-style-type:none;
  color:#ff26b0;
  font-size:14px;
  padding-left: 5px;
}

#authors li:first-child {
  margin-bottom:5px;
  font-weight:bold;
  padding-left: 0px;
}

#authors li:last-child {
  margin-top:5px;
  font-size:12px;
  padding-left: 0px;
}

#authors a {
  color:#ff26b0;
  text-decoration: none;
}

@media (max-width: 765px) {
  .logo {
    position: fixed;
    bottom: 20px;
    left: auto;
    right: 6px;
    top: auto;
    margin: 0;
  }
  .control {
    position: static;
    display: inline-block;
    margin: 0;
    padding-top: 25px;
    vertical-align: middle;
    width: 49%;
  }
}

@media (max-width: 665px) {
  .logo-duproprio,
  .control em {
    display: none;
  }

  header {
    height: 40px;
  }

  #dragger {
    top: 40px;
  }

  .control { padding-top: 10px;}
  .control.left { text-align: center; }
}