html, body {
  height: 100%;
}

header {
  background: #fff url(/images/header_pattern.png) 0 0 repeat-x;
  border-bottom: 1px solid #ffd929;
  box-shadow: inset 0 -1px #ffed9b, 0 1px #9e8929;
  height: 90px;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5000;
}

.logo {
  background: url(/images/logo.png) 0 0 no-repeat;
  height: 65px;
  overflow: hidden;
  text-indent: -9999em;
  position: absolute;
  left: 50%;
  top: 15px;
  margin-left: -127px;
  width: 254px;
}

.map-canvas,
#dragger,
#dragger:after {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.map-canvas {
  -webkit-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 90px solid #fff;
  height: 100%;
  float: left;
  padding-top: 90px;
  width: 100%;
}
#dragger {
  background: url(/images/dragger_pattern.png);
  border: 1px solid #a18e1b;
  border-width: 0 1px;
  cursor: ew-resize;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
  height: 100%;
  margin-left: -8px;
  position: absolute;
  top: 0;
  left: 50%;
  width: 16px;
  z-index: 1000;
}
#dragger:after {
  background: url(/images/dragger.png) 0 0 no-repeat;
  content: "";
  height: 55px;
  margin: 27px 0 0 -3px;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
}
.map-wrap {
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 50%;
}
.map-wrap .map-canvas {
  width: 200%;
  margin-left: -100%;
}

@media (max-width: 460px) {
  .logo {
    background-position: 0 -64px;
    margin-left: -22px;
    width: 45px;
  }
}